@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}
/* Hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
